<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style="text-align: center; color: red;background-color: blanchedalmond;">Add Details</h1>
    <form action="/api/user/add" method="post"
        style="width: 50px;text-align: center; margin-left: auto; margin-bottom: auto; margin-right:auto;"><br><br>
        Name<input type="text" name="name" placeholder="Enter Your name"
        style=background-color:aqua;text-align:center;font-style:oblique ; ;/><br><br>
        Email<input type="email" name="email" placeholder="Enter Your email" 
        style=background-color:aqua;text-align:center;font-style:oblique ; ; /><br><br>
        Password<input type="text" name="password" placeholder="Enter Your password" 
        style=background-color:aqua;text-align:center;font-style:oblique ; ;/><br><br>
        Age<input type="number" name="age" placeholder="Enter Your age" 
        style=background-color:aqua;text-align:center;font-style:oblique ; ;/><br><br>  
        <button style="background-color: aqua; font-style: oblique;" type="submit">submit</button>
    </form>
</body>

</html>